<h3 class="text-center">Ça irait sûrement mieux dans cette pièce, non ?</h3>
<img id="hint-forbid" src="../img/forbid_sign.png">
<div class='objet-chambre'>
    <div class="row">
        <div class = "col col-center">
            <img ng-src="img/{{fgSelected.image}}" style="width: 100%;"/>
        </div>
        <div class = "col col-center">
            <img ng-src="img/arrow.png" style="width: 100%;"/>
        </div>
        <div class = "col-50">
            <img ng-src="img/{{fgSelected.ref_rooms[0]}}" style="width: 100%;"/>
        </div>
    </div>
</div>
