<ion-view title="Consigne : résumé de la consigne ici ?">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>Retour</ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <!-- TODO : Là aussi codé en dur ! Devra etre généré par un ng-repeat -->
    <div class="row">
      <div class="col col-25">
        <div class="button button-block">
        </div>
      </div>

      <div class="col col-50">
        <div class="button button-block">
        </div>
      </div>

      <div class="col col-25">
        <div class="button button-block">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-25">
        <div class="button button-block">
        </div>
      </div>

      <div class="col col-25">
        <div class="button button-block">
        </div>
      </div>

      <div class="col col-25">
        <div class="button button-block">
        </div>
      </div>

      <div class="col col-25">
        <div class="button button-block">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
