<ion-view title="Consigne : résumé de la consigne ici ?" ng-controller="FirstGameCtrl">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>Retour</ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <a class="button button-large button-clear" ng-click="showGameHelp('helpRulesFirstGame')">
        <i class="icon  ion-ios-help-outline"></i>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>

    <!-- TODO : Là aussi codé en dur ! Devra etre généré par un ng-repeat -->
    <div class="row">
      <div class="col col-20">
        <div class="button button-block tile-question tile-tall">
          <span>?</span>
        </div>
      </div>

      <div class="col col-60">
        <div class="button button-block tile-image tile-tall"
             style="background-image: url('../img/{{questionRoom.image}}')">
        </div>
      </div>

      <div class="col col-20">
        <div class="button button-block tile-question tile-tall">
          <span>?</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-25">
        <div class="button button-block tile-image"
             style="background-image: url('../img/{{fgAnswers[0].image}}')">
        </div>
      </div>

      <div class="col col-25">
        <div class="button button-block tile-image"
             style="background-image: url('../img/{{fgAnswers[1].image}}')">
        </div>
      </div>

      <div class="col col-25">
        <div class="button button-block tile-image"
             style="background-image: url('../img/{{fgAnswers[2].image}}')">
        </div>
      </div>

      <div class="col col-25">
        <div class="button button-block tile-image"
             style="background-image: url('../img/{{fgAnswers[3].image}}')">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
