<ion-view title="Paramètres - Quels objets vont dans cette pièce ?">
 <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>Retour</ion-nav-back-button>
  </ion-nav-bar>

	<ion-content has-header="true" padding="true" class="center">

		<div class="col col-25 col-offset-75">
			<a class="button button-light button-large" ng-click="showHelp('helpParamsFirstGame')">
	          <i class="icon  ion-ios-help-outline"></i>
	          Aide
	        </a>
		</div>

		<div class="row">
			<label class="checkbox-inline col col-25 col-offset-25">
				<input type="checkbox" ng-model="paramsFirstGame.objects_active"> Activer les objets</label>
			<label class="checkbox-inline col col-25">
				<input type="checkbox" ng-model="paramsFirstGame.actions_active"> Activer les actions</label>
			<div class="col col-25"> </div>
		</div>

		<div class="row">
			<div class="col col-25 col-offset-25" ng-class="{'disable': !paramsFirstGame.objects_active}">
				<div class="row"> Nombre d'objets ({{paramsFirstGame.nb_objects}})</div>
				<div class="item range row" ng-class="{'disable': !paramsFirstGame.objects_active}">
				  1
				  <input step="1" min="1" max="4" type="range" ng-model="paramsFirstGame.nb_objects" ng-disabled="!paramsFirstGame.objects_active">
				  4
				</div>
			</div>
			<div class="col col-25" ng-class="{'disable': !paramsFirstGame.actions_active}">
				<div class="row"> Nombre d'actions ({{paramsFirstGame.nb_actions}})</div>
				<div class="item range row" ng-class="{'disable': !paramsFirstGame.actions_active}">
				  1
				  <input step="1" min="1" max="4" type="range" ng-model="paramsFirstGame.nb_actions" ng-disabled=!paramsFirstGame.actions_active>
				  4
				</div>
			</div>
			<div class="col col-25"> </div>
		</div>

		<br/>

		<div class="row">
			<label class="checkbox-inline col  col-offset-33"><input type="checkbox" ng-model="paramsFirstGame.text_descr"> Activer la description textuelle des images</label>
		</div>
		<div class="row">
			<label class="checkbox-inline col  col-offset-33"><input type="checkbox" ng-model="paramsFirstGame.voc_descr"> Activer la description vocale des images</label>
		</div>


    <div class="row">
      <div class="col col-50 col-offset-25">
        <div class="row"> Taille du texte ({{paramsFirstGame.text_size}} pixels)</div>
        <div class="item range row">
          Normal
          <input step="5" min="25" max="40" type="range" ng-model="paramsFirstGame.text_size">
          Gros
        </div>
      </div>
    </div>


    <div class="row">
			<div class="col col-25 col-offset-25">
				<div class="row"> Nombre de questions ({{paramsFirstGame.nb_questions}})</div>
				<div class="item range row">
				  2
				  <input step="2" min="2" max="20" type="range" ng-model="paramsFirstGame.nb_questions">
				  20
				</div>
			</div>
			<div class="col col-25">
				<div class="row"> Nombre de tentatives possibles ({{paramsFirstGame.nb_try}})</div>
				<div class="item range row">
				  1
				  <input step="1" min="1" max="5" type="range" ng-model="paramsFirstGame.nb_try">
				  5
				</div>
			</div>
			<div class="col col-25"> </div>
		</div>

    <div class="row">
      <div class="col col-20 col-offset-50">
        <a class="button button-block button-positive" href="#/params/menu">Valider</a>
      </div>
      <div class="col col-20">
        <a class="button button-block button-positive" ng-click="initFirstGame();" href="#/games/1">Jouer au jeu</a>
      </div>
    </div>

  </ion-content>
</ion-view>
