<ion-view title="Trouver la bonne pièce !" id="jeu-2">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>Retour</ion-nav-back-button>
    <ion-nav-buttons side="secondary">
      <span id="questions-left">Questions : {{current_question}}/{{paramsFirstGame.nb_questions}}</span>
      <a class="button button-large button-clear" ng-click="showGameHelp('helpRulesSecondGame', 'Sound_2')">
        <i class="icon  ion-ios-help-outline"></i>
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>

    <!-- TODO : Là aussi codé en dur ! Devra etre généré par un ng-repeat -->
    <div class="row" style="height: 10em;">
      <div class="col col-33">
        <div id="cadre-1" class="button button-block tile-image"
          ng-if="paramsSecondGame.nb_rooms > 0"
          ng-style="{'background-image':'url(img/'+rooms[0].image+')'}"
          ng-click="checkAnswerSecondGame(rooms[0].image, 'image-1', 'cadre-1', 'text-1')">
            <div id="image-1"></div>
        </div>
      </div>

      <div class="col col-33">
      </div>

      <div class="col col-33">
        <div id="cadre-2" class="button button-block tile-image"
          ng-if="paramsSecondGame.nb_rooms > 1"
          ng-style="{'background-image':'url(img/'+rooms[1].image+')'}"
          ng-click="checkAnswerSecondGame(rooms[1].image, 'image-2', 'cadre-2', 'text-2')">
          <div id="image-2"></div>
        </div>
      </div>
    </div>

    <div class="row" style="height: 10em;">
      <div class="col col-33 tile-text" id="text-1" ng-if="paramsSecondGame.nb_rooms > 0">
        {{rooms[0].name}}
      </div>
      <div class="col col-33">
        <div class="button button-block tile-image question-image"
          ng-style="{'background-image':'url(img/'+question.image+')'}">
        </div>
      </div>
      <div class="col col-33 tile-text" id="text-2" ng-if="paramsSecondGame.nb_rooms > 1">
        {{rooms[1].name}}
      </div>
    </div>

    <div class="row" style="height: 10em;">
      <div class="col col-33">
        <div id="cadre-3" class="button button-block tile-image" ng-if="paramsSecondGame.nb_rooms > 2"
          ng-style="{'background-image':'url(img/'+rooms[2].image+')'}"
          ng-click="checkAnswerSecondGame(rooms[2].image, 'image-3', 'cadre-3', 'text-3')">
          <div id="image-3"></div>
        </div>
      </div>

      <div class="col col-33 tile-text">
        {{question.name}}
      </div>

      <div class="col col-33">
        <div id="cadre-4" class="button button-block tile-image"
            ng-if="paramsSecondGame.nb_rooms > 3"
            ng-click="checkAnswerSecondGame(rooms[3].image, 'image-4', 'cadre-4', 'text-4')"
            ng-style="{'background-image':'url(img/'+rooms[3].image+')'}">
          <div id="image-4"></div>
        </div>
      </div>
    </div>

    <div class="row" style="height: 10em">
      <div class="col col-33 tile-text" id="text-3" ng-if="paramsSecondGame.nb_rooms > 2">
        {{rooms[2].name}}
      </div>
      <div class="col col-33"></div>
      <div class="col col-33 tile-text" id="text-4" ng-if="paramsSecondGame.nb_rooms > 3">
        {{rooms[3].name}}
      </div>
    </div>
  </ion-content>
</ion-view>
