/* Empty. Add your own CSS if you like */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tile-image {
  text-shadow: 1px 1px 0 #000;
  background-size: cover;
  background-position: bottom;
  height: 12em;
}

.tile-text {
  margin-bottom: 0px;
  margin-top: auto;
  text-align: center;
}

.popup {
  width: 450px !important;
  height: 300px;
}
